<h1>Feladat lista</h1>

<button (click)="onClickNewTodo()" data-testid="new-btn">Új feladat</button>
<button (click)="todoService.deleteCompletedTodos()" data-testid="delete-btn">
  Befejezettek törlése
</button>

<h2>Folyamatban</h2>
<app-todo-list
  [todos]="(openTodos$ | async) || []"
  (clickTodo)="onClickTodo($event)"
  data-testid="open-list"
></app-todo-list>

<h2 data-testid="done-list-title" (click)="onClickDoneListTitle()">
  <span *ngIf="!(isDoneListOpen$ | async)">👉</span>
  <span *ngIf="isDoneListOpen$ | async">👇</span>
  Kész
</h2>
<app-todo-list
  *ngIf="isDoneListOpen$ | async"
  [todos]="(doneTodos$ | async) || []"
  (clickTodo)="onClickTodo($event)"
  data-testid="done-list"
></app-todo-list>

<app-dialog-new [isOpen]="(isNewDialogOpen$ | async) || false" (close)="onCloseDialog()" (create)="onCreateTodo($event)">
</app-dialog-new>
<app-dialog-edit [isOpen]="(isEditDialogOpen$ | async) || false" (close)="onCloseDialog()" [todo]="selectedTodo">
</app-dialog-edit>
