<h1>Feladat lista</h1>

<button (click)="openNewTodoDialog.emit()" data-testid="new-btn">Új feladat</button>
<button (click)="todoService.deleteTodos()" data-testid="delete-btn">
  Befejezettek törlése
</button>

<h2>Folyamatban</h2>
<app-todo-list
  [todos]="(openTodoTitles$ | async) || []"
  (clickTodo)="todoService.finishTodo($event)"
  data-testid="open-list"
></app-todo-list>

<h2 data-testid="done-list-title" (click)="onClickDoneListTitle()">
  <span *ngIf="!isDoneListOpen">👉</span>
  <span *ngIf="isDoneListOpen">👇</span>
  Kész
</h2>
<app-todo-list
  *ngIf="isDoneListOpen"
  [todos]="(doneTodoTitles$ | async) || []"
  (clickTodo)="todoService.reopenTodo($event)"
  data-testid="done-list"
></app-todo-list>